.task-view-div {
  width: 750px;
  background-color: rgb(255, 255, 255);
  width: 750px;
  margin-left: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-container-div {
  background-color: rgb(41, 35, 35);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.search-div {
  align-items: center;
  background-color: rgb(253, 232, 232);
  width: 700px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
}

.task-view-sub-div {
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 100%;
  margin-top: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 1px rgb(255, 210, 210);
}
