.task-view-div {
  height: 100%;
  position: relative;
}
.search-container-div {
  width: 100%;
  height: 85px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}
.task-view-container-sub-div {
  width: 100%;
  height: 100%;
  background-color: rgb(171, 220, 221);
  margin-top: 85px;
}
