.task-view-div {
  width: 750px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-container-div {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  border-bottom: solid 1px rgb(255, 210, 210);
}
.search-div {
  align-items: center;
  background-color: rgb(255, 226, 226);
  width: 700px;
  height: 40px;
  margin-right: 155px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}

#search-input {
  border: none;
  background: none;
  padding-left: 20px;
  flex: 1;
  height: 100%;
  flex: 1;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
#search-input::placeholder {
  color: rgb(253, 66, 66);
}

.task-view-sub-div {
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 100%;
  margin-top: 100px;
  margin-right: 155px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 1px rgb(255, 210, 210);
}
