.task-view-div {
}
.search-container-div {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: #ffd1d1;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  border-bottom: solid 1px rgb(255, 210, 210);
}
.search-div {
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 40px;
  margin-right: 155px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}

#search-input {
  border: none;
  background: none;
  padding-left: 20px;
  flex: 1;
  height: 100%;
  flex: 1;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
#search-input::placeholder {
  color: rgb(204, 182, 182);
}

.task-view-container-sub-div {
  width: 1060px;
  height: 100%;
  background-color: rgb(203, 88, 88);
  display: flex;
  flex-direction: column;
  position: relative;
}
