.task-view-div {
  height: 100%;
  position: relative;
}
.search-container-div {
  width: 100%;
  height: 85px;
  background-color: rgb(253, 66, 66);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.search-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#search-input {
  background-color: #ffa1a167;
  border: solid rgba(255, 255, 255, 0.503) 1px;
  width: 600px;
  height: 35px;
  margin-left: 30px;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
}
#search-input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.search-bar-logo-img {
  margin-left: 40px;
  height: 38px;
}
.search-profile-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin-right: 40px;
}
.search-sub-img {
  background-color: #fe6161;
  padding: 5px;
  border-radius: 6px;
  border: solid rgba(255, 255, 255, 0.385) 1px;
}
.profile-img {
  height: 45px;
  filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
}
.task-view-container-sub-div {
  width: 100%;
  height: 100%;
  background-color: rgb(171, 220, 221);
  margin-top: 85px;
}
.task-content-container {
  background-color: rebeccapurple;
  width: 300px;
  height: 300px;
}
