body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}
img {
  height: 30px;
}
input:focus {
  outline: none;
}

.main-body {
  display: flex;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 3000px;
}
