.task-view-div {
  width: 750px;
  background-color: rgb(74, 72, 72);
  width: 750px;
  margin-left: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-div {
  display: flex;
  align-items: center;
  background-color: rgb(253, 232, 232);
  margin-top: 30px;
  width: 700px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  position: fixed;
}
