.task-view-div {
  height: 100%;
  position: relative;
}
.search-container-div {
  width: 100%;
  height: 85px;
  background-color: rgb(253, 66, 66);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 200;
  top: 0;
}
.search-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#search-input {
  background-color: #ffa1a167;
  border: solid rgba(255, 255, 255, 0.503) 1px;
  width: 600px;
  height: 35px;
  margin-left: 30px;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
}
#search-input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.search-bar-logo-img {
  margin-left: 40px;
  height: 38px;
}
.search-profile-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin-right: 40px;
}
.search-sub-img {
  background-color: #fe6161;
  padding: 5px;
  border-radius: 6px;
  border: solid rgba(255, 255, 255, 0.385) 1px;
}
.profile-img {
  height: 45px;
  filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
}
.task-view-container-sub-div {
  width: 1000px;
  height: 100%;
  margin-top: 50px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-content-container {
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.task-day-group-container {
  /*background-color: red;*/
  width: 100%;
  padding: 10px auto;
}
.task-container-date-p {
  margin-bottom: 5px;
  color: #797979;
}
.task-day-single-div {
  margin-bottom: 10px;
  border: solid rgb(255, 255, 255) 1px;
}
.task-day-single-with-date-div {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  border: solid rgba(255, 110, 110, 0.449) 1px;
  border-radius: 8px;
  margin-top: 20px;
}
.task-day-single-head-input {
  width: 20px;
  height: 20px;
}
.task-day-single-head-div {
  display: flex;
  justify-content: space-between;
  background-color: rgb(251, 213, 213);
  border-radius: 5px;
}
.task-day-single-head-sub-div {
  flex: 1;
  display: flex;
  align-items: center;
}
.task-day-single-head-p {
  margin-left: 10px;
}
.task-day-single-body-div {
  background-color: rgb(255, 255, 255);
}
.task-day-single-head-p {
  font-size: 18px;
  font-weight: bold;
}
.task-day-single-body-div {
  background-color: rgb(252, 239, 239);
  margin-top: 5px;
  border-radius: 5px;
}
.task-day-single-body-discr-p {
  padding-left: 30px;
  width: 700px;
  padding: 5px;
}
