.menu-active-div {
  position: fixed;
  top: 97px;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 670px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 200;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.all-tasks-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 5px;
  border-radius: 8px;
  transition: background-color 0.1s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.all-tasks-div:hover {
  background-color: rgb(255, 255, 255);
}
.all-tasks-div:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.all-tasks-p {
  flex: 1;
  padding-left: 10px;
  font-size: 15px;
  color: #ff7373;
}
.number-all-div {
  background-color: #ff7373;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-all-p {
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.menu-fill-divs {
  width: 100%;
  margin: 10px;
  padding-left: 35px;
  padding-right: 20px;
  box-sizing: border-box;
}
.menu-header-div {
  padding-left: 28px;
  padding-right: 13px;
  margin-bottom: 10px;
}
.menu-header {
  display: flex;
  align-items: center;
}
.menu-close-icon-img {
  margin-left: auto;
  height: 16px;
  background-color: rgba(255, 183, 183, 0);
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.1s;
}
.menu-close-icon-img:hover {
  background-color: rgba(255, 183, 183, 0.4);
}
.menu-close-icon-img:active {
  background-color: rgba(255, 183, 183, 0.2);
}
.menu-p {
  color: rgb(253, 66, 66);
  font-size: 25px;
  font-weight: 500;
}
.sub-titles {
  font-size: 18px;
  color: rgb(255, 125, 125);
  font-weight: 500;
  margin-bottom: 10px;
}

.tasks-sub-div,
.calander-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.121);
  padding: 8px 5px;
  border-radius: 8px;
  transition: background-color 0.1s;
}
.tasks-sub-div:hover {
  background-color: rgba(255, 0, 0, 0.199);
}
.calander-div:hover {
  background-color: rgba(255, 0, 0, 0.199);
}
.tasks-sub-div:active {
  background-color: rgba(255, 0, 0, 0.089);
}
.calander-div:active {
  background-color: rgba(255, 0, 0, 0.089);
}
.upcoming-today-p,
.calendar-p,
.add-list {
  flex: 1;
  padding-left: 10px;
  font-size: 15px;
  color: #ff7373;
}
.number-div {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.number-p {
  font-size: 12px;
  color: rgb(255, 125, 125);
}
.menu-tasks-img {
  height: 20px;
}
.calender-img {
  height: 14px;
  padding-left: 3px;
  padding-right: 3px;
}
.upcoming-today-calander-div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.color-div {
  display: flex;
  justify-content: center;
}
.list-color {
  background-color: rgb(0, 255, 229);
  width: 10px;
  height: 10px;
  border: solid rgb(255, 255, 255) 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 14px;
  transition: width 0.1s, height 0.1s;
}
.list-color-1 {
  background-color: rgb(255, 75, 75);
}
.list-color-2 {
  background-color: rgb(105, 216, 252);
}
.list-color-3 {
  background-color: rgb(255, 224, 101);
}
.list-color:hover {
  width: 15px;
  height: 15px;
}
.list-color:active {
  width: 10px;
  height: 10px;
}
.color-div,
.add-list-div,
.menu-settings-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.121);
  padding: 8px 5px;
  border-radius: 8px;
  transition: background-color 0.1s;
}
.menu-settings-div:hover {
  background-color: rgba(255, 0, 0, 0.199);
}
.color-div:hover {
  background-color: rgba(255, 0, 0, 0.199);
}
.add-list-div:hover {
  background-color: rgba(255, 0, 0, 0.199);
}
.menu-settings-div:active {
  background-color: rgba(255, 0, 0, 0.089);
}
.color-div:active {
  background-color: rgba(255, 0, 0, 0.089);
}
.add-list-div:active {
  background-color: rgba(255, 0, 0, 0.089);
}
.sub-exist-list-div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-color-settings-p {
  flex: 1;
  color: #ff7373;
  font-size: 15px;
}
.add-list-div {
  display: flex;
}
.list-add-img {
  height: 13px;
  padding-left: 4px;
}
.menu-settings-n-sign-out-div {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu-setting-img,
.menu-sign-out-img {
  height: 13px;
  padding-left: 4px;
}
.setting-p {
  padding-left: 11px;
}
.sigin-out-a {
  text-decoration: none;
}
