body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}

.main-body {
  height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.menu-div {
  width: 300px;
  background-color: rgb(253, 66, 66);
}
.task-view-div {
  width: 750px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
}
.edit-div {
  background-color: rgb(252, 233, 233);
  width: 450px;
  margin-left: auto;
  margin: 10px 10px;
  border-radius: 20px;
}
img {
  height: 30px;
}
