body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}
img {
  height: 30px;
}
input:focus {
  outline: none;
}

.main-body {
  display: flex;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 3000px;
}

.menu-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: rgb(253, 66, 66);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-view-div {
  width: 750px;
  background-color: rgb(74, 72, 72);
  width: 750px;
  margin-left: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.all-tasks-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 5px;
  border-radius: 8px;
  transition: background-color 0.1s;
}
.all-tasks-div:hover {
  background-color: rgb(255, 255, 255);
}
.all-tasks-div:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.all-tasks-p {
  flex: 1;
  padding-left: 10px;
  font-size: 15px;
  color: #ff7373;
}
.number-all-div {
  background-color: #ff7373;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-all-p {
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.search-div {
  display: flex;
  align-items: center;
  background-color: rgb(253, 232, 232);
  margin-top: 30px;
  width: 700px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  position: fixed;
}
#search-input {
  border: none;
  background: none;
  padding-left: 20px;
  flex: 1;
  height: 100%;
  font-size: 16px;
  color: rgb(253, 66, 66);
}
#search-input::placeholder {
  color: rgb(253, 66, 66);
}
.edit-div {
  background-color: rgb(255, 226, 226);
  width: 450px;
  height: 755px;
  margin: 10px;
  border-radius: 20px;
  position: fixed;
  right: 0;
}
.menu-fill-divs {
  width: 100%;
  margin: 10px;
  padding-left: 35px;
  padding-right: 20px;
  box-sizing: border-box;
}
.menu-header-div {
  padding-left: 28px;
  padding-right: 13px;
  margin-bottom: 10px;
}
.menu-header {
  display: flex;
  align-items: center;
}
.burger-bar-img {
  margin-left: auto;
  height: 27px;
  background-color: rgba(255, 183, 183, 0);
  border-radius: 5px;
  padding: 2px;
  transition: background-color 0.1s;
}
.burger-bar-img:hover {
  background-color: rgba(255, 183, 183, 0.4);
}
.burger-bar-img:active {
  background-color: rgba(255, 183, 183, 0.2);
}
.menu-p {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.sub-titles {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-bottom: 10px;
}

.tasks-sub-div,
.calander-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 5px;
  border-radius: 8px;
  transition: background-color 0.1s;
}
.tasks-sub-div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.calander-div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tasks-sub-div:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.calander-div:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.upcoming-today-p,
.calendar-p,
.add-list {
  flex: 1;
  padding-left: 10px;
  font-size: 15px;
  color: white;
}
.number-div {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-p {
  font-size: 12px;
  color: rgb(255, 125, 125);
}
.menu-tasks-img {
  height: 20px;
}
.calender-img {
  height: 14px;
  padding-left: 3px;
  padding-right: 3px;
}
.upcoming-today-calander-div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.color-div {
  display: flex;
  justify-content: center;
}
.list-color {
  background-color: rgb(0, 255, 229);
  width: 10px;
  height: 10px;
  border: solid rgb(255, 255, 255) 1px;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 14px;
  transition: width 0.1s, height 0.1s;
}
.list-color-1 {
  background-color: rgb(255, 82, 82);
}
.list-color-2 {
  background-color: rgb(105, 216, 252);
}
.list-color-3 {
  background-color: rgb(255, 224, 101);
}
.list-color:hover {
  width: 15px;
  height: 15px;
}
.list-color:active {
  width: 10px;
  height: 10px;
}
.color-div,
.add-list-div,
.menu-settings-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 5px;
  border-radius: 8px;
  transition: background-color 0.1s;
}
.menu-settings-div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.color-div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.add-list-div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu-settings-div:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.color-div:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.add-list-div:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.sub-exist-list-div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-color-settings-p {
  flex: 1;
  color: white;
  font-size: 15px;
}
.add-list-div {
  display: flex;
}
.list-add-img {
  height: 13px;
  padding-left: 4px;
}
.menu-settings-n-sign-out-div {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu-setting-img,
.menu-sign-out-img {
  height: 13px;
  padding-left: 4px;
}
.setting-p {
  padding-left: 11px;
}
.sigin-out-a {
  text-decoration: none;
}
