body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}
img {
  height: 30px;
}

.main-body {
  height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.menu-div {
  width: 300px;
  background-color: rgb(253, 66, 66);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-view-div {
  flex: 1;
  width: 750px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
}
.edit-div {
  background-color: rgb(252, 233, 233);
  width: 450px;
  margin: 10px;
  border-radius: 20px;
}
.menu-fill-divs {
  width: 100%;
  /*background-color: rgba(255, 255, 255, 0.329);*/
  margin: 10px;
  padding-left: 35px;
  padding-right: 20px;
  box-sizing: border-box;
}
.menu-header-div {
  padding-left: 30px;
  padding-right: 15px;
}
.menu-header {
  display: flex;
  align-items: center;
}
.burger-bar-img {
  margin-left: auto;
  height: 25px;
}
.menu-p {
  color: white;
  font-size: 22px;
  font-weight: 500;
}
.sub-titles {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-bottom: 10px;
}
.tasks-sub-div,
.calander-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 5px;
  border-radius: 8px;
}
.upcoming-today-p,
.calendar-p {
  flex: 1;
  padding-left: 10px;
  font-size: 15px;
  color: white;
}
.number-div {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-p {
  font-size: 12px;
  color: rgb(255, 125, 125);
}
.menu-tasks-img {
  height: 20px;
}
.calender-img {
  height: 14px;
  padding-left: 3px;
  padding-right: 3px;
}
.upcoming-today-calander-div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.color-div {
  display: flex;
  justify-content: center;
}
.list-color {
  background-color: rgb(0, 255, 229);
  width: 10px;
  height: 10px;
  border: solid rgb(255, 255, 255) 1px;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 14px;
  transition: width 0.1s, height 0.1s;
}
.list-color:hover {
  width: 15px;
  height: 15px;
}
.list-color:active {
  width: 10px;
  height: 10px;
}
.color-div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 5px;
  border-radius: 8px;
  transition: background-color 0.1s;
}
.color-div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.color-div:active {
  background-color: rgba(255, 255, 255, 0);
}
.sub-exist-list-div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-color-p {
  flex: 1;
  color: white;
  font-size: 15px;
}
