* {
  transition: all 0.5s ease;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 232, 232);
}
p {
  margin: 0;
}
input:focus {
  outline: none;
}
.main-div {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  position: relative;
}
.back-btn {
  position: absolute;
  background-color: white;
  z-index: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  top: 30px;
  left: 80px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.1s, text-shadow 0.1s, top 0.1s, left 0.1s,
    box-shadow 0.1s;
}
.back-btn:hover {
  opacity: 0.95;
}
.back-btn:active {
  box-shadow: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  top: 31px;
  left: 81px;
}
.return-icon {
  height: 30px;
  padding-top: 5px;
}
.welcome-div {
  background-color: rgb(253, 66, 66);
  flex: 1;
  border-bottom-right-radius: 150px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  transition: all 0.5s ease;
}
.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 232, 232);
  flex: 1;
  border-top-left-radius: 150px;
  position: relative;
  z-index: 100;
  transition: all 0.5s ease;
}
.bg-1 {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(255, 232, 232);
  bottom: 0px;
  z-index: 0;
}
.bg-2 {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(253, 66, 66);
  z-index: 0;
}
.welcome-p {
  font-size: 100px;
  font-weight: bold;
  color: white;
  padding-left: 80px;
  padding-top: 80px;
  line-height: 85px;
}
.welcome-sub-p {
  display: inline-block;
  text-align: start;
  width: 100%;
  padding-left: 170px;
  padding-top: 30px;
  color: rgb(254, 209, 209);
}
.user-icon,
.lock-icon,
.eye-icon {
  height: 18px;
}
.eye-icon {
  cursor: pointer;
}
.login-sub-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.15);
}
.rem-forg-div {
  display: flex;
  align-items: center;
  width: 380px;
}
.rem-forg-p-div {
  display: flex;
  align-items: center;
}
.sigin-p {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(253, 66, 66);
  width: 100%;
  margin-left: 75px;
}
.sigin-dis-p {
  margin-bottom: 30px;
  font-size: 12px;
  color: rgb(254, 150, 150);
  width: 250px;
  margin-left: -120px;
}
.password-p {
  margin-top: 15px;
}
.password-p,
.username-p {
  margin-bottom: 5px;
  width: 100%;
  font-size: 14px;
  margin-left: 128px;
  color: rgb(253, 66, 66);
}
.input-username-div {
  background-color: rgb(255, 232, 232);
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.input-password-div {
  background-color: rgb(255, 232, 232);
  display: flex;
  align-items: center;
  height: 38px;
  margin-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.username-input {
  background-color: rgb(255, 232, 232);
  padding: none;
  padding-left: 10px;
  width: 300px;
  height: 30px;
  border: none;
  color: rgb(253, 66, 66);
  font-size: 16px;
}
.password-input {
  background-color: rgb(255, 232, 232);
  padding: none;
  padding-left: 10px;
  width: 300px;
  height: 30px;
  border: none;
  color: rgb(253, 66, 66);
  font-size: 16px;
}
.rem-forg-p-div {
  flex: 1;
}

.remember-me-a {
  font-size: 11px;
  color: rgb(254, 150, 150);
}
.forget-password-p {
  font-size: 11px;
  color: rgb(253, 66, 66);
  font-weight: bold;
  cursor: pointer;
}
.forget-password-p:hover {
  text-decoration: underline;
}
.remember-me-input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(253, 66, 66);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-right: 8px;
}
.remember-me-input:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgb(253, 66, 66);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-btn {
  margin-top: 80px;
  background-color: rgb(253, 66, 66);
  border: none;
  color: white;
  height: 38px;
  width: 380px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.1s, text-shadow 0.1s, margin-top 0.1s,
    margin-left 0.1s, margin-bottom 0.1s, box-shadow 0.1s;
  overflow: hidden;
}
.login-btn:hover {
  background-color: rgb(255, 83, 83);
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 1);
}
.login-btn:active {
  box-shadow: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: 82px;
  margin-left: 2px;
  margin-bottom: -2px;
}
.no-acc-p {
  font-size: 13px;
  margin-top: 10px;
  color: rgb(254, 150, 150);
}
.sign-in-span {
  color: rgb(253, 66, 66);
  font-weight: bold;
  text-decoration: underline;
}
@media (max-width: 1300px) {
  .welcome-div {
    border-bottom-right-radius: 80px;
  }
  .login-div {
    border-top-left-radius: 80px;
  }
  .welcome-p {
    font-size: 80px;
    font-weight: bold;
    color: white;
    padding-left: 50px;
    padding-top: 70px;
    line-height: 85px;
  }
  .welcome-sub-p {
    width: 100%;
    padding-left: 110px;
    padding-top: 30px;
    color: rgb(254, 209, 209);
  }
}
@media (max-width: 1200px) {
  .welcome-div {
    border-bottom-right-radius: 40px;
  }
  .login-div {
    border-top-left-radius: 40px;
  }
}
@media (max-width: 950px) {
  .welcome-div {
    display: none;
  }
  .bg-1 {
    display: none;
  }
  .bg-2 {
    display: none;
  }
}
@media screen {
  .login-sub-div {
    width: 450px;
  }
}
