
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  position: relative;
}
p{
  margin: 0;
}
.main-div{
  display: flex;
  height: 100vh;
  flex-direction: row;
  position: relative;
}
.back-btn{
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  top: 30px;
  left: 80px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  transition: background-color 0.1s,
    text-shadow 0.1s,
    top 0.1s,
    left 0.1s,
    box-shadow 0.1s;
}
.back-btn:hover{
  opacity: 0.95;
}
.back-btn:active{
  box-shadow: none;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  top: 31px;
  left: 81px;
}
.return-icon{
  height: 30px;
  padding-top: 5px;
}
.welcome-div{
  background-color: rgb(253, 66, 66);
  flex: 1;
  border-bottom-right-radius: 150px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.sigin-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 232, 232);
  flex: 1;
  border-top-left-radius: 150px;
  position: relative;
  z-index: 100;
}
.bg-1{
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: rgb(255, 232, 232);
  left:550px;
  bottom: 0px;
  z-index: 0;
}
.bg-2{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgb(253, 66, 66);
  left:750px;
  z-index: 0;
}
.welcome-p{
  font-size: 100px;
  font-weight: bold;
  color: white;
  padding-top: 96px;
  line-height: 55px;
  width: 100%;
  padding-left: 160px;
}
.let-p{
  font-size: 80px;
  font-weight: bold;
  color: white;
  width: 100%;
  padding-left: 170px;
}
.welcome-sub-p{
  text-align: start;
  width: 100%;
  padding-left: 170px;
  padding-top: 33px;
  color: rgb(254, 209, 209);
}
.user-icon, .lock-icon, .eye-icon{
  height: 18px;
}
.eye-icon{
  cursor: pointer;
}
.sigin-sub-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.15);
}
.rem-forg-div{
  display: flex;
  align-items: center;
  width: 380px;
}
.rem-forg-p-div{
  display: flex;
  align-items: center;
}
.sigin-p{
  margin-top: 30px;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(253, 66, 66);
  width: 100%;
  margin-left: 128px;
}
.sigin-dis-p{
  margin-bottom: 40px;
  font-size: 12px;
  color: rgb(254, 150, 150);
  width: 250px;
  margin-left: -120px;
}
.password-p, .username-p, .confirm-password-p{
  margin-bottom: 5px;
  width: 100%;
  font-size: 14px;
  margin-left: 128px;
  color: rgb(253, 66, 66);
}
.input-username-div{
  background-color: rgb(255, 232, 232);
  display: flex;
  align-items: center;
  height: 38px;
  margin-bottom: 8px;
  padding-left: 20PX;
  padding-right: 20PX;
  border-radius: 10PX;
}
.input-password-div{
  background-color: rgb(255, 232, 232);
  display: flex;
  align-items: center;
  height: 38px;
  margin-bottom: 8px;
  padding-left: 20PX;
  padding-right: 20PX;
  border-radius: 10PX;
}
.username-input{
  background-color: rgb(255, 232, 232);
  padding: none;
  padding-left: 10px;
  width: 300px;
  height: 30px;
  border: none;
  color: rgb(253, 66, 66);
  font-size: 16px;
}
.password-input{
  background-color: rgb(255, 232, 232);
  padding: none;
  padding-left: 10px;
  width: 300px;
  height: 30px;
  border: none;
  color: rgb(253, 66, 66);
  font-size: 16px;
}
.sigin-btn{
  margin-top: 50px;
  background-color: rgb(253, 66, 66);
  border: none;
  color: white;
  height: 38px;
  width: 380px;
  border-radius: 20PX;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  transition: background-color 0.1s,
    text-shadow 0.1s,
    margin-top 0.1s,
    margin-left 0.1s,
    margin-bottom 0.1s,
    box-shadow 0.1s;
}
.sigin-btn:hover{
  background-color: rgb(255, 83, 83);
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 1);
}
.sigin-btn:active{
  box-shadow: none;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin-top: 52px;
  margin-left: 2px;
  margin-bottom: -2px;
}
.or-div{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.border-div{
  width: 100px;
  border-top: solid rgb(255, 201, 201) 1px;
}
.or-p{
  color: rgb(254, 150, 150);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.no-acc-p{
  font-size: 13px;
  margin-top: 20px;
  color: rgb(254, 150, 150);
}
.sign-in-span{
  color: rgb(253, 66, 66);
  font-weight: bold;
  text-decoration: underline
}
.gfa-div{
  margin-top: 20px;
}
.gfa-btn{
  border: none;
  background-color: rgb(255, 232, 232);
  padding: 4px 6px;
  border-radius: 10px;
  width: 60px;
  transition: background-color 0.1s;
}
.gfa-btn:hover{
    background-color: rgb(251, 200, 200);
}
.gfa-btn:active{
    background-color: rgb(255, 255, 255);
}
.gfa-img{
  height: 25px;
  padding-top: 3px;
}