
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  position: relative;
}
p{
  margin: 0;
}
.main-div{
  display: flex;
  height: 100vh;
  flex-direction: row;
}
.welcome-div{
  background-color: rgb(253, 66, 66);
  flex: 1;
  border-bottom-right-radius: 150px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sigin-div{
  background-color: rgb(255, 255, 255);
  flex: 1;
  border-top-left-radius: 150px;
  position: relative;
  z-index: 100;
}
.bg-1{
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  left:550px;
  bottom: 0px;
  z-index: 0;
}
.bg-2{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgb(253, 66, 66);
  left:750px;
  z-index: 0;
}
.welcome-p{
  font-size: 100px;
  font-weight: bold;
  color: white;
  padding-left: 80px;
}