body {
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: rgb(253, 66, 66);;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  margin: 0;
}
.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: #ffffff;
  margin-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  border-top-left-radius: 64px;
  border-top-right-radius: 54px;
  box-shadow: 50px 40px 3px rgba(108, 35, 35, 0.3);
  height: 100%;
}
.best-p{
  font-size: 60px;
  font-weight: bold;
  color: rgb(253, 66, 66);
  margin-top: 20px;
  text-align: center;
}
.btn-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in-btn{
  margin-top: 150px;
  background-color: rgb(253, 66, 66);
  font-family: "Inter", sans-serif;
  border: none;
  height: 40px;
  width: 400px;
  border-radius: 14px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.Create-acc-a{
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}
.logo{
  height: 80px;
}
.logo-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}