body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(253, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  text-align: center;
}
.main-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}
.best-p {
  font-size: 60px;
  font-weight: bold;
  color: rgb(253, 66, 66);
  margin-top: 20px;
  text-align: center;
  width: 800px;
}
.btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in-btn {
  margin-top: 150px;
  background-color: rgb(253, 66, 66);
  font-family: "Inter", sans-serif;
  border: none;
  height: 40px;
  width: 400px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  transition: background-color 0.1s, text-shadow 0.1s, margin-top 0.1s,
    margin-left 0.1s, margin-bottom 0.1s, box-shadow 0.1s;
  overflow: hidden;
}
.sign-in-btn:hover {
  background-color: rgb(255, 83, 83);
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 1);
}
.sign-in-btn:active {
  box-shadow: none;
  margin-top: 152px;
  margin-left: 2px;
  margin-bottom: -2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.Create-acc-a {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  transition: border-color 0.15s;
  color: black;
}

.logo {
  height: 80px;
}
.logo-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

@media (max-width: 1000px) {
  .best-p {
    font-size: 50px;
    margin-top: 30px;
    width: 700px;
  }
  .logo {
    height: 70px;
  }
  .logo-div {
    margin-top: 100px;
  }
  .sign-in-btn {
    margin-top: 180px;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    font-size: 15px;
  }

  .sign-in-btn:active {
    margin-top: 182px;
    margin-left: 2px;
    margin-bottom: -2px;
  }
}
@media (max-width: 700px) {
  .best-p {
    font-size: 50px;
    margin-top: 30px;
    width: 400px;
  }
  .logo {
    height: 60px;
  }
  .logo-div {
    margin-top: 100px;
  }
  .sign-in-btn {
    margin-top: 200px;
    height: 35px;
    width: 300px;
    border-radius: 20px;
    font-size: 15px;
  }
  .sign-in-btn:active {
    margin-top: 202px;
    margin-left: 2px;
    margin-bottom: -2px;
  }
}
