body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(208, 54, 54);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  padding: 0;
  margin: 0; 
}
.logo-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-img{
  height: 160px;
  padding-bottom: 5px;
}
.logo-title{
  font-family: "Smooch Sans", sans-serif;
  color: white;
  font-size: 255px;
  font-weight: 400;
}
.discription-p ,.welcome-p{
  color: rgb(255, 194, 194);
  font-weight: bold;
  font-size: 15px;
}
.discription-div{
  margin-top: -39px;
}
.welcome-div{
  margin-bottom: -39px;
}
.welcome-p{
  font-size: 20px;
}