body {
  margin: 0;
  background-color: rgb(208, 54, 54);
  font-family: "Inter", sans-serif;
}

.main-div{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

p{
  padding: 0;
  margin: 0; 
}
.logo-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-img{
  height: 160px;
  padding-bottom: 5px;
}
.logo-title{
  font-family: "Smooch Sans", sans-serif;
  color: white;
  font-size: 255px;
  font-weight: 400;
}
.welcome-div{
  margin-bottom: -40px;
}
.welcome-p{
  font-size: 30px;
  color: rgb(255, 194, 194);
  font-weight: bold;
}
.second-discription-p{
  font-size: 13px;
  color: rgb(255, 194, 194);
  position: absolute;
  bottom: 80px;
}