.edit-div {
  background-color: rgb(255, 203, 203);
  width: 450px;
  height: 660px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 90px;
}
.error-img {
  height: 100px;
}
