.edit-div {
  background-color: rgb(255, 203, 203);
  width: 450px;
  height: 660px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 90px;
  overflow: hidden;
}
.error-img {
  height: 100px;
}
.inner-div {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 157, 0, 0.089);
}
.header-div {
  width: 100%;
  height: 20%;
  background-color: rgba(170, 46, 46, 0.062);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-div {
  width: 100%;
  height: 70%;
  background-color: rgba(132, 255, 0, 0.089);
}
.footer-div {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 76, 255, 0.11);
}
.color-div {
  width: 30px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.474);
}
.change-color-div {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 8px;
  border: solid 1px rgba(133, 61, 61, 0.651);
  cursor: pointer;
}
.header-inp {
  width: 240px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.474);
  border-radius: 5px;
}
input[type="date"] {
  background-color: rgba(255, 255, 255, 0.474);
  border: none;
  color: rgb(148, 59, 59);
  padding: 17px 5px;
  border-radius: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(40%) sepia(60%) saturate(500%) hue-rotate(350deg);
  cursor: pointer;
}
